# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# data
*.png
*.csv

# logs, records
*.log

# tensorflow models
*checkpoint
*.data-*
*.index
*.meta

# Packaging
raws/
training/
testing/
truth/

